
.Back{
    height: 50px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
}
img{
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 5px;
    height: 15px;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15vw;
    margin-top: 10px;
    margin-left: 3px;
    display: flex;
    color: black
}
.Aussie{
    font-size: 1.2vw ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0px ;
    border-radius: 5px;
    width: 250px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 560px;
    color: rgb(255, 255, 255);
    background-color: black;
    position: absolute;
}

.maindiv{
    display: flex;
    flex-direction: rows;
    width: 100%;
    justify-content: center
   
}
#f6e58d{
    background-color: #f6e58d;
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#ffbe76{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #ffbe76;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#ff7979{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #ff7979;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#badc58{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #badc58;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#dff9fb{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #dff9fb;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#f9ca24{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #f9ca24;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    
}
#f0932b{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #f0932b;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#eb4d4b{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #eb4d4b;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#ab0{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #6ab04c;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c7ecee{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #c7ecee;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#ed6df{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#7ed6df;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#e056fd{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#e056fd;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c686de0{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color: #686de0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c30336b{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#30336b;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c95afc0{  
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#95afc0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
  
}
#c22a6b3{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#22a6b3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#be2edd{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#be2edd;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c4834d4{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#4834d4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c130f40{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#130f40;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
#c535c68{
    font-family: Arial, Helvetica, sans-serif;
        width: 270px;
    height: 110px;
    background-color:#535c68;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
.p{text-align: end;
    font-weight: bolder;
    font-size: medium;
    }